/*
Author: Gar Powell
Date: 11/12/24
File Name: breakout.css
*/

/* CSS Reset */
body, header, nav, main, footer, img, h1, h3, ul {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    text-align: center;
    background-color: blue;
}

h1 {
    font-style: oblique;
    font-family: 'Gill Sans';
    color: deeppink;
}

canvas {
    border-style: solid;
    border-color: darkred;
    background-color: green;
}